
 <nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid ">
      <a class="navbar-brand " href="#">
        <img class="w-25 rounded-circle" src="/img/imgapi1.jpg" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  " id="navbarNav">
        <ul class="navbar-nav me-5  ms-auto  ">
          
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-primary text-white  rounded" routerLink="Home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-primary text-white rounded" routerLink="About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-primary text-white rounded" routerLink="Meals">Meals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-primary text-white rounded" routerLink="Team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" routerLinkActive="bg-primary text-white rounded" routerLink="Contact">Contact</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav> 

  